.title h2{
  text-align: center;
}

.select2-container--default .select2-selection--single{
  border-radius: 0;
}
.checkbox label{
  padding-left: 0;
}
.checkbox label.error{
  min-width: 400px;
  margin-top: 20px;
  font-weight: bold;
}
.icheckbox_square-green{
  margin-right: 10px;
}
.form-group{
  position: relative;
}
i.fa{
  position: absolute;
  top: 8px;
  left: 6px;
  font-size: 20px;
}
.form-control{
  padding: 6px 30px;
}

.serverError{
  text-align: center;
  font-size: 15px;
  color: #802c23;
  margin-top: 20px;
}

@media screen and (max-width:  780px){
  .serverError{
    font-size: 10px;
  }
}