ul, li {
  padding: 0;
  margin: 0;
  list-style: none;
}

.signUpForm {
  .title {
    font-size: 13px;
  }

  .title h2 {
    text-align: center;
  }

  .select2-container--default .select2-selection--single {
    border-radius: 0;

    .select2-selection__rendered {
      text-align: left;
    }
  }

  .icheckbox_square-green {
    margin-right: 10px;
  }

  .form-group {
    position: relative;

    i.fa {
      position: absolute;
      top: 8px;
      left: 6px;
      font-size: 20px;
    }

    .form-control {
      padding: 6px 30px;
    }

    .tac-checkbox-row {
      text-align: left;
    }
  }

  .serverError {
    text-align: center;
    font-size: 15px;
    color: #802c23;
    margin-top: 20px;
  }

  .container {
    padding-bottom: 100px;
  }

  .location__content {
    padding-bottom: 30px;
  }

  @media screen and (max-width: 780px) {
    .serverError {
      font-size: 10px;
    }
  }
}

//Companies Page
.company-dashboard {

  section {
    position: relative;
    margin-bottom: 20px;

    .header {
      border: 1px solid #ffffff;
      padding: 10px;
      font-weight: bold;
      background-color: #1ab394;
      color: #ffffff;
    }

    .content {
      display: flex;
      justify-content: center;
      height: 300px;
      background-color: #ffffff;
      text-align: center;

      &.totalCompanies__content {
        align-items: center;

        .circle {
          display: flex;
          border: 4px solid #1ab394;
          width: 250px;
          height: 250px;
          align-items: center;
          justify-content: center;
          border-radius: 50%;
          font-size: 7em;
        }

        @media screen and (max-width: 360px) {
          .circle {
            width: 140px;
            height: 140px;
            font-size: 5em;
          }
        }
      }

      &.listOfCompanies__content {
        overflow-y: scroll;

        tr td {
          cursor: pointer;
        }

      }
    }
  }

  @media screen and (max-width: 360px) {
    .content {
      &.news__content {
        height: 100%;

        .nav-btns {
          display: none;
        }
      }
    }
  }
}

.loaderArea {
  background: linear-gradient(to top, #98e2d3 3%, #ffffff 90%);
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;

  .loader {
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    animation: loader 0.9s 0.35s ease infinite;
  }

  &::before,
  &::after {
    content: '';
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 40%;
    border-radius: 50%;
    animation: loader 0.9s 0.35s ease infinite;
    animation-delay: 0.2s
  }

  &::after {
    left: 60%;
    animation-delay: 0.5s;
  }
}

@keyframes loader {
  0% {
    background-color: white;
  }
  100% {
    background-color: #1ab394;
  }
}


//Partners details
.companyPartners {
  position: relative;
  display: none;

  .companyPartners__header {
    background-color: #1ab394;
    color: #ffffff;
    font-weight: bold;
    padding: 10px;
    display: flex;
    justify-content: space-between;

    i.fa {
      position: absolute;
      top: 2px;
      /*right: 3px;*/
      left: 1px;
      font-size: 20px;
    }

    .btn__sortValue,
    .btn__sortName,
    .btn__hideButton {
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      position: relative;
      height: 24px;
      width: 25px;
      padding: 4px;
      background: none;
      border: none;
      outline: none;
    }
  }

  .companyPartners__content {
    display: flex;
    justify-content: space-between;
    background-color: white;
    overflow-x: scroll;
    height: 300px;

    .partnerInformation {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin: 20px auto;

      .partnerName {
        border: 1px solid #1ab394;
        writing-mode: vertical-lr;
        text-align: center;
        margin: 0 auto;
        font-size: 1.5em;
        padding: 10px;
        height: 180px;
        transform: rotate(180deg);
      }

      .partnerValue {
        display: flex;
        width: 60px;
        height: 60px;
        border-radius: 50%;
        border: 1px solid #1ab394;
        align-items: center;
        justify-content: center;
        font-size: 1.5em;
      }

      .arrow {
        background-color: #1ab394;
        width: 1px;
        height: 10%;
        margin: 0 auto;
      }

      @media screen and (max-width: 360px) {
        .partnerName {
          height: 160px;
          font-size: 1.5em;
        }
      }
    }
  }

  .companyPartners__title {
    text-align: center;
    font-size: 40px;
    color: #4d5567;
  }
}


.location__content {
  flex-direction: column;

  .countryTitle {
    text-align: center;
    color: #4d5567;
    padding: 8px;
    font-size: 24px;
  }

  .table__wrapper {
    overflow-y: scroll;
  }

  .back__btn {
    display: none;
    position: absolute;
    left: 7%;
    top: 15%;
    background: none;
    border: none;
    outline: none;

    &:focus {
      outline: none;
    }
  }
}

//News
.viewport {
  width: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  user-select: none;
  padding-bottom: 10px;


  .slideWrapper {
    -o-transition: 1s;
    transition: 1s;
    -webkit-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    position: relative;
    display: flex;

    .newsSlide {
      list-style: none;
      padding: 10px;
    }
    .mainContent {
      padding-top: 5px;
      justify-content: space-between;

      img {
        height: 150px;
        width: 100%;
      }
      .newsTitle {
        font-weight: bold;
        font-size: 1.5em;
      }

      .mainText {
        text-align: justify;
      }

      .article {
        padding-bottom: 10px;

        .title {
          font-weight: bold;
        }
      }
    }

    .sign {
      padding: 10px 0;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      text-align: left;

      .autor span:first-of-type,
      .date span:first-of-type {
        font-weight: bold;
      }
    }
  }
}

//Button
.prev-btn, .next-btn {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(26, 179, 148, 0.36);
  border-radius: 50%;
  top: calc(50% - 25px);
}

.prev-btn:hover, .next-btn:hover {
  cursor: pointer;
}

.prev-btn {
  left: 20px;
}

.next-btn {
  right: 20px;
}

.nav-btns {
  position: absolute;
  width: 100%;
  bottom: 20px;
  padding: 0;
  margin: 0;
  text-align: center;
}

.slide-nav-btn {
  position: relative;
  display: inline-block;
  list-style: none;
  width: 8px;
  height: 8px;
  background-color: rgba(26, 179, 148, 0.36);
  border-radius: 50%;
  margin: 3px;
}

.slide-nav-btn:hover {
  cursor: pointer;
}

.color {
  background-color: #1ab394 !important;
}

.prev-btn i.fa,
.next-btn i.fa {
  color: white;
  position: absolute;
  top: 2px;
  right: 3px;
  left: 1px;
  font-size: 41px;
}



























